# Object files
*.o
*.ko
*.class

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
Java/*.jar

#Build folders
build/

#IDE
.project
.cproject
