#description{
    height:100px;
    width:100%;
    text-align:center;
}

#map{
    width: 80%;
}

.cell{
    float:left; 
    border:1px solid black; 
    height:40px;
    background-color:#C3C1AE;
}