#description{
    height:100px;
    width:100%;
    text-align:center;
}

.cell{
    float:left; 
    border:1px solid black; 
    height:40px;
    background-color:#C3C1AE;
}

#map{
    padding:20px;
}

#map-description{
    padding:20px;
    border:solid 2px white;
    border-radius:15px;
}

#qunit{
	width:50%;
	text-align:center;
	clear:both;
	display:none;
}

#qunit-testrunner-toolbar{
	display:none;
}

#qunit-tests  li  a {
	display:none !important;
} 

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.row{
    margin-top:30px;
}

.in-path{
    background-color: #338A2E;
}

.open{
    background-color: #FFF6AA;
}

.closed{
    background-color: #033D53;
}

.obstacle{
    background-color: black;
}